:root {
    --primary-color: rgb(238, 77, 45);
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --border-color: #dbdbdb;
    --star-color: #ffc539;
  
    --header-sort-height: 46px;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    /* tạo box-sizing: inherit để cho tất cả các thẻ  có thuộc tính box-sizing được kế thừa từ thẻ cha */
    box-sizing: inherit;
}

html {
    /* gán giá trị font-size=62.5% để tiện cho việc sử dụng thuộc tính rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/* class giúp những thẻ nằm trong class này sẽ nnamwf trên cùng 1 hàng ngan và xuống dòng khi không đủ khoảng trống  */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--from));
    }
    to {
        transform: scale(var(--to));
    }
}


/* moda */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.modal__body {
    background-color: var(--white-color);
    position: relative;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    animation: grow linear 0.1s;
    --from: 0.7;
    --to: 1
}


/* button */

.btn {
    display: inline-flex;
    border-style: none;
    min-width: 124px;
    height: 34px;
    border-radius: 2px;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1.4rem;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    background-color: white;
}

.select-input {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    height: 34px;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 2px;
    color: var(--text-color);
    padding: 0 12px;
    box-shadow: #ccc 0 1px 1px;
   
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    display: none;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: -3px;
}

.select-input__item {
    color: var(--text-color);
    padding: 6px 16px;
}

.select-input__item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.btn-s {
    height: 2.6rem;
    border-radius: 3px;
}

.btn--normal:hover {
    background-color: rgb(247, 243, 243);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.seperate {
    border-left: 1px solid var(--border-color);
    display: block;
    height: 16px;
    margin: 0px 12px;
}
/* pagination */
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.pagination__item{
    margin: 0 20px;
}
.pagination__item-link{
    text-decoration: none;
    font-size: 1.8rem;
    text-decoration: none;
    color: #939393;
    font-weight: 400;
}

 .pagination__item-active .pagination__item-link{
    background-color: var(--primary-color);
    padding: 2px 12px;
    border-radius: 2px;
    color: var(--white-color);
}
.pagination__item-active .pagination__item-link:hover{
    background-color: #ed5f43;
}
.pagination__item:focus .pagination__item-active{
    display: block;
}